@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-light: rgb(249, 249, 249);
  --color-bg-dark: rgb(21, 22, 21);
  --color-surface-dark: rgb(31, 31, 31);
  --color-surface-light: rgb(255, 255, 255);
}

html,
body {
  @apply bg-bg-light dark:bg-bg-dark text-black dark:text-zinc-50 text-base;
  @apply transition-colors duration-200;
}
